#menu, #quiz{
    -fx-background-image: url("../imgs/fundo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1200;
    -fx-opacity: 0.8;
}

#start{
    -fx-background-radius: 20;
    -fx-border-radius: 12;
    -fx-opacity: 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 10, 0.5, 0, 5);
    -fx-fill: transparent;
}

#title {
    -fx-fill: yellow;
}